
@{
    ViewBag.Title = "PMS Sub KPI Maintenance";
    Layout = "~/Views/Shared/_PmsLayoutMsg.cshtml";
}

<div class="panel panel-success" >
    <div class="panel-body">
        <h2 class="text-success">@ViewBag.message</h2>
    </div>
</div>