
@{
    Layout = null;
}
<section class="content">
    <div class="panel panel-solid">
        <div class="panel-body">
            <h2 class="page-header" style="margin: 0; padding-bottom: 0">Career Development Plan</h2>
            <div class="row margin" ng-init="onInit();">
                <div class="panel">
                    <h3 style="padding: 0 15px;"></h3>
                    <div class="panel-body">
                        <div class="col-lg-2">
                            <a class="btn btn-info btn-sm btn-gradient btn-rounded pointer" ng-click="OpenCategoryMaintenance();">New Category</a>
                        </div>
                        <br />
                        <br />
                        <div>
                            <accordion class="row margin">
                                <accordion-group ng-repeat="cdpmaintenance in categorylistmaintenance |filter:search:strict" class="headerstyles">
                                    <accordion-heading style="text-decoration:none;">



                                     
                                        <b>{{cdpmaintenance.categorydesc}} </b>
                                        <div class="pull-right">

                                            <button class="btn btn-success btn-gradient btn-rounded" ng-click="openModalForm('#modal-panel-addgoalmaintenance');OpenGoalMaintenance(cdpmaintenance,$event);">
                                                <i class="glyphicon glyphicon-plus "></i>
                                                Add Goal
                                            </button>

                                        </div>


                                    </accordion-heading>
                                    <div class="accordion-inner" overflow-y scroll; overflow-x hidden;">
                                        <accordion class="row margin">
                                            <accordion-group ng-repeat="goalmaitenancelist in cdpmaintenance.goalmaintenance track by $index" class="headerstyles" ng-click="openModalForm('#modal-panel-addgoalmaintenance');">
                                                <accordion-heading style="text-decoration:none;">
                                                    {{goalmaitenancelist.goaldesc}}
                                                
                           



                                                </accordion-heading>
                                                <div class="accordion-inner" overflow-y scroll; overflow-x hidden;">
                                                    <div class="row margin">
                                                     
                                                    </div>

                                                </div>
                                            </accordion-group>

                                        </accordion>
                                
                                    </div>
                                </accordion-group>

                            </accordion>
                        </div>
















                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal-panel-addgoalplan" class="popup-basic popup-lg bg-none mfp-with-anim mfp-hide">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="glyphicon glyphicon-tasks">
                </i>Add Goal Plan
            </span>
        </div>
        <form class="form-horizontal" name="GoalActionPlan" autocomplete="off">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Goal:</label>
                    <div class="col-lg-6">
                        <input type="text" name="goaldesc" id="goaldesc" class="form-control" ng-focus="true" ng-model=goaldesc required>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Category:</label>
                    <div class="col-lg-6">
                        <selectize placeholder='--Select Category--' options='categoryOptions' config="{maxItems: 1}" ng-model="categoryId" ng-change="ChangeCategoryDropdown()" required>  </selectize>
                    </div>

                </div>

                <div class="panel panel-footer text-right">
                    <a class="btn-link btn btn-gradient btn-rounded" ng-click="closeModalForm()">Close</a>
                    <button type="submit" class="btn btn-success btn-gradient btn-rounded" ng-hide="isSuccess" ng-click="AddGoalPlan();" ng-disabled="GoalActionPlan.$invalid">
                        <i class="glyphicon glyphicon-saved"></i> Add Goal
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Add  Category Maintenance-->
<div id="modal-panel-addcdmaintenance" class="popup-basic popup-lg bg-none mfp-with-anim mfp-hide">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="glyphicon glyphicon-tasks">
                </i>Add Goal Plan
            </span>
        </div>
        <form class="form-horizontal" name="CategoryMaintenance" autocomplete="off">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Category:</label>
                    <div class="col-lg-6">
                        <input type="text" name="categorydesc" id="categorydesc" class="form-control" ng-focus="true" ng-model=categorydesc required>
                    </div>

                </div>

                <div class="panel panel-footer text-right">
                    <a class="btn-link btn btn-gradient btn-rounded" ng-click="closeModalForm()">Close</a>
                    <button type="submit" class="btn btn-success btn-gradient btn-rounded" ng-hide="isSuccess" ng-click="PostCategory();" ng-disabled="CategoryMaintenance.$invalid">
                        <i class="glyphicon glyphicon-saved"></i> Add Category
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Add  Goal Maintenance-->
<div id="modal-panel-addgoalmaintenance" class="popup-basic popup-lg bg-none mfp-with-anim mfp-hide">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="glyphicon glyphicon-tasks">
                </i>Add Goal Plan
            </span>
        </div>
        <form class="form-horizontal" name="GoalMaintenance" autocomplete="off">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Category:</label>
                    <div class="col-lg-6">
                        <input type="text" name="goaldesc" id="goaldesc" class="form-control" ng-focus="true" ng-model=goaldesc required>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Goal Weight:</label>
                    <div class="col-lg-6">
                        <selectize placeholder='--Select Goal Weight--' options='goalweightOptions' config="{maxItems: 1}" ng-model="goalweight" ng-change="ChangeGoalWeight()" required>  </selectize>
                    </div>

                </div>
                <div class="panel panel-footer text-right">
                    <a class="btn-link btn btn-gradient btn-rounded" ng-click="closeModalForm()">Close</a>
                    <button type="submit" class="btn btn-success btn-gradient btn-rounded" ng-click="PostGoal();" ng-disabled="GoalMaintenance.$invalid">
                        <i class="glyphicon glyphicon-saved"></i> Add Goal
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>