@{
    Layout = null;
}

<section class="content ">
    <div class="panel panel-solid">
        <div class="panel-body" ng-init="onInit()">
            <h2 class="page-header">PAF List(Employee List)</h2>

           

            <div ng-repeat="x in pafMaster" ng-show="onViewDetails(x.pmsEmployeeDtl)">
                <h3>{{onType(x.pmsLstType)}}</h3>
                <table class="table table-condensed table-hover" ng-if="x.pmsLstType==1">
                    <tr>
                        <th></th>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Department</th>
                        <th>Position</th>

                    </tr>
                    <tr ng-repeat="xx in x.pmsEmployeeDtl">
                        <td>
                            <a class="pointer" ng-click="OpenPAF(xx.empId)" ng-show="hasOpenPaf(xx.pmsPafMaster)">View PAF</a>
                            <a class="pointer" ng-click="onNewPaf(xx.empId)" ng-show="!hasOpenPaf(xx.pmsPafMaster)">Create</a>
                        </td>
                        @*<td><a class="pointer" ng-show="onCheckOpenPaf(xx.pmsPafMaster)" ng-click="onViewPaf(xx,x.pmsLstType)">Open</a></td>*@
                        <td>{{xx.empId}}</td>
                        <td>{{xx.empName}}</td>
                        <td>{{xx.department}}</td>
                        <td>{{xx.position}}</td>

                    </tr>
                </table>
                <!-- pmsLstType=2-->
                <table class="table table-condensed table-hover" ng-if="x.pmsLstType==2">
                    <tr>
                        <th></th>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Department</th>
                        <th>Position</th>
                    </tr>
                    <tr ng-repeat="xx in x.pmsEmployeeDtl  | filter:search:strict">
                        <td>
                            <a class="pointer" ng-click="OpenPAF(xx.empId)" ng-show="hasOpenPaf(xx.pmsPafMaster)">View PAF</a>
                            <a class="pointer" ng-click="onNewPaf(xx.empId)" ng-show="!hasOpenPaf(xx.pmsPafMaster)">Create</a>
                        </td>
                        <td>{{xx.empId}}</td>
                        <td>{{xx.empName}}</td>
                        <td>{{xx.department}}</td>
                        <td>{{xx.position}}</td>
                    </tr>
                </table>
                <!-- pmsLstType=3-->
                <table class="table table-condensed table-hover" ng-if="x.pmsLstType==3">
                    <tr>
                        <th></th>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Department</th>
                        <th>Position</th>
                    </tr>
                    <tr ng-repeat="xx in x.pmsEmployeeDtl  | filter:search:strict">
                        <td>
                            <a class="pointer" ng-click="OpenPAF(xx.empId)" ng-show="hasOpenPaf(xx.pmsPafMaster)">View PAF</a>
                            <a class="pointer" ng-click="onNewPaf(xx.empId)" ng-show="!hasOpenPaf(xx.pmsPafMaster)">Create</a>

                        </td>
                        <td>{{xx.empId}}</td>
                        <td>{{xx.empName}}</td>
                        <td>{{xx.department}}</td>
                        <td>{{xx.position}}</td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
</section>

<!-- modal view for applicant remove prompt-->
<div id="modal-panel-paflist" class="popup-basic bg-none mfp-with-anim mfp-hide">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>PAF List</span>
        </div>
        <div class="panel-body">
          
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Action</th>
                    <th>ID</th>
                    <th>Covered</th>
                    <th>Created Date</th>
                    <th>Status</th>
                </tr>
                <tr ng-repeat="x in paflist | filter:{status:'O'}">
                    <td><a class="pointer" ng-click="onRate(x.hashcode)">Rate</a></td>
                    <td>{{x.pafId}}</td>
                    <td>{{x.pmsperiodfrom | date:'MM/dd/yyyy'}}&nbsp;to&nbsp;{{x.pmsperiodto | date:'MM/dd/yyyy'}}</td>
                    <td>{{x.dateappraisal | date:'MM/dd/yyyy'}}</td>
                    <td>{{x.status=='O'? 'OPEN':'ClOSE'}}</td>
                </tr>

            </table>
        </div>
        <div class="panel-footer text-right">
            <button class="btn" ng-click="closeModalForm()">Cancel</button>
        </div>
    </div>
</div>




